<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
          <a class="nav-link" href="#">Home</a>
          <a class="nav-link" href="/listings">All listings</a>
          <a class="nav-link" href="/listings/new">Add New Listing</a>
          </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <% if(!curUser){ %>
      <a class="nav-link" href="/signup">SignUp</a>
      <a class="nav-link" href="/login">LogIn</a>
      <% } %> <% if(curUser){ %>
      <a class="nav-link" href="/">LogOut</a>
      <% } %>
      </div>
</div>

  </div>
</nav>