<% layout("./listings/boilerplate") %>
<body>
    <h3 style="padding-left: 3rem;" class="mt-3">All Listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>New</button>
    </form> -->
    <div class="row row-cols-xl-3 row-cols-md-3 row-cols-sm-1">

    <%for(let listing of allListing){%>
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
           <img 
           src="<%= listing.image %>" 
           class="card-img-top" 
           alt="listing image"
            >
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
            <b><%= listing.title %></b>
            <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %>
            </p>
          </div>
        </div>
      </a>
      <% } %>
    </div>

</body>